* {
    padding: 0px;
    margin: 0px;
}



.container {
    width: 100%;
    max-width: 1450px;
    position: relative;
    background-image: url('../resources/Banner\ Image.png');
    background-size: cover;
    border-radius: 16px;
    margin: 10px auto;
    background-color: rgba(0, 0, 0, 0.451);
    background-blend-mode: multiply;

}

.text {
    text-align: center;
    padding: 177px 344px;
    color: #FFF;
    font-family: Merriweather;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    /* 131.944% */

}

.party {
    font-size: 72px;
    margin-bottom: 48px;
}

.new-year {
    margin-bottom: 0px;
    font-size: 32px;
}

.discount {
    text-align: center;
    margin-top: 60px;
    color: #F00;
    font-family: Inter;
    font-style: normal;
    line-height: normal;
}

.Holiday {
    font-size: 24px;
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

.CATEGORIE {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 30px;
}

/* midnight section style */


.midnight-section {
    margin-top: 30px;
}

.midnight {
    display: flex;
    width: 100%t;
    max-width: 1450px;
    position: relative;
    background-position: center;
    background-image: url('../resources/Vectorrr.png');
    background-size: cover;
    border-radius: 16px;
    margin: 10px auto;
    background-color: rgba(0, 0, 0, 0.622);
    background-blend-mode: multiply;
}

.midnight-section {
    display: flex;
}

.party {
    text-align: center;
}

.welcome {


    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;

}

.dolor {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    margin-top: 10px;
    padding-right: 5px;
}

.midnight-text {
    justify-content: space-between;
    text-align: left;
    font-size: 34px;
    margin-bottom: 48px;
    display: block;
    padding: 126px;

}

.midnight-image {
    padding: 80px 170px;
}

.join-now {
    background: none;
    color: #FFF;

}

/*  place section  style*/
.location {
    width: 1450px;
    height: 482px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: 80px 225px;
    border-radius: 10px;


}

.location-text {
    padding-top: 100px;
    text-align: center;
    font-size: 32px;

}

span {
    color: #F00;

    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    /* 175% */
    text-transform: capitalize;
}

.btn-place {
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    border: 0;
    color: #FFF;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 700;
}

/* best offer section */
.best-offer {
    width: 1450px;
    height: 482px;
    margin: 80px 225px;
    border-radius: 16px;
    background: #FFF;
    /* background: aquamarine; */
    text-align: center;
    padding-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offer-content-heading {
    text-align: justify;
    padding-left: 5px;
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.best-offer-heading {
    color: #070211;
    text-align: justify;
    font-family: Merriweather;
    font-size: 35px;
    font-weight: 900;
    text-transform: capitalize;
}

.best-offer-paragraph {
    text-align: justify;
    padding-top: 20px;

}

.best-offer-image {
    padding-bottom: 200px;

}

.offer-year {
    text-align: justify;
    padding-bottom: 150px;
    padding-right: 100px;

}

.offer-year-heading {
    padding-top: 100px;
    font-size: 35px;
    color: #F00;
    font-weight: 900;
    font-family: Inter;

}

.offer-year-paragraph {
    text-align: justify;
}



.offer-content {
    padding: 10px;
    padding-bottom: 200px;
}

.offer-year img {
    padding-top: 50px;
    width: 140px;
    height: 140px;
    flex-shrink: 0;
}

.best-offer-image {

    border: 10px solid red;
    Border-radius: 50%;
    Padding: 20px;

}



*/ .offer-content,
.offer-image,
.offer-year {
    max-width: 500px;
}

/* holiday section */
.holiday {
    width: 1450px;
    height: 661px;
    text-align: justify;
    background-image: url('../resources/Rectangle\ 1.png'), url('../resources/Rectangle\ 2.png');
    background-repeat: no-repeat;
    background-position: top right, bottom right;
    margin-bottom: 100px;
    align-items: center;
    margin-left: 100px;
}

.holiday-details {
    text-align: center;
}

.holiday-headline {
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 50px;
    
    font-weight: 900;
    line-height: normal;
    margin-right: 10px;
}

.holiday-paragraph {
    text-align: center;
    margin-right: 65px;
}

.sale {
    color: #070211;
    font-family: Merriweather;
    font-size: 50px;
    
    font-weight: 900;
    line-height: normal;
}


.holiday-image {
    width: 100px;
    height: 100px;
    align-items: center;
}

.image-one {
    /* padding: 100px 100px; */
    margin-left: 850px;
    margin-top: 50px;
}

.image-three {
    margin-left: 200px;

}


/* Subscribe Newsletter section */
.subscribe-section {
    width: 1450px;
    height: 482px;
    margin: 80px 225px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
    padding-top: 150px;
}

.group {
    width: 50px;
    height: 50px;
}

.subscribe-heading {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 100px;
    font-weight: 900;
    text-transform: capitalize;

}

.subscribe-paragraph {
    color: rgba(7, 2, 17, 0.60);

    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;

    line-height: 32px;
    /* 160% */
}

.from {

    justify-content: center;
    /* border-radius: 50px; */
    border: 0;
    margin-top: 5px;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 0px;
    border-radius: 0px 50px 50px 0px;

    /* background: #FFF ; */
    border: 0;
    color: #FFF;
    margin-top: 5px;
    font-size: 20px;
    font-weight: 700;

}

.contact input {
    display: flex;
    padding: 16px 32px;
    border: none;
    width: 200px;
    height: 24px;
    margin-top: 5px;
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
}

.btn-subscribe {
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 0px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: 0;
    color: #FFF;
    margin-top: 5px;
    font-size: 20px;
    font-weight: 700;
}

/* footer section */
footer {
    /* display: flex;  */
    background: #070211;
    padding: 200px 200px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 166.667% */
    width: 1600px;
    margin: auto;

}

.footer-description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;

}

/* hr{
    margin-top: 500px;
    background: rgba(255, 255, 255, 0.15);
} */
#line {
    margin-top: 100px;
}

#line-two {
    margin-top: 100px;
}


a {
    list-style: none;
    text-decoration: none;
    color: #FFF;
}

.footer-copyright {
    display: flex;
    justify-content: space-between;
}

.social-media {
    display: flex;
    align-items: center;
    margin-left: 500px;
    margin-top: 90px;
    margin-bottom: 100px;
}

.logo {
    width: 10px;
    height: 10px;
    gap: 20px;
}

.social-media a {
    margin-right: 60px;

}

.all-rights {
    margin-top: 200px;
}