* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

.container {
    width: 100%;
    max-width: 1450px;
    position: relative;
    background-image: url('../resources/Banner\ Image.png');
    background-size: cover;
    border-radius: 16px;
    margin: 10px auto;
    background-color: rgba(0, 0, 0, 0.451);
    background-blend-mode: multiply;

}

.text {
    text-align: center;
    padding: 177px 344px;
    color: #FFF;
    font-family: Merriweather;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    /* 131.944% */

}

.party {
    font-size: 72px;
    margin-bottom: 48px;
}

.new-year {
    margin-bottom: 0px;
    font-size: 32px;
}

.discount {
    text-align: center;
    margin-top: 60px;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    line-height: normal;
}

.Holiday {
    font-size: 24px;
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

.CATEGORIE {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 30px;
}

/* midnight section style */


.midnight-section {
    margin-top: 30px;
}

.midnight {
    display: flex;
    width: 100%t;
    max-width: 1450px;
    position: relative;
    background-position: center;
    background-image: url('../resources/Vectorrr.png');
    background-size: cover;
    border-radius: 16px;
    margin: 10px auto;
    background-color: rgba(0, 0, 0, 0.622);
    background-blend-mode: multiply;
}
.midnight-section{
    display: flex;
}

.party {
    text-align: center;
}

.welcome {
    
  
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
   
}

.dolor {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    margin-top: 10px;
    padding-right: 5px;
}

.midnight-text {
    justify-content: space-between;
    text-align:left;
    font-size: 34px;
    margin-bottom: 48px;
    display: block;
    padding: 126px;
   
}
.midnight-image{
   padding: 80px 170px;
}
   
